# could do this as */, *.go, but that would make it easy to lose new files by
# accident

*_create.go
*_delete.go
*_update.go
*_query.go
client.go
config.go
context.go
counter*/
/counter*.go
/counterevent*.go
ent.go
entql.go
enttest/
hook/
migrate/
mutation.go
predicate/
privacy/
runtime/
runtime.go
tx.go
